:root {
    --darkBlue : #0065FC;
    --clearBlue: #DEEBFF;
    --greyBackgd : #F2F2F2;
    --starsGrey : #c2bdbdb0;
    --fontRlw : 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}


body {
    font-family: var(--fontRlw);       
}



/* stars colors */
i[data-selected="true"] {
    color: var(--darkBlue);
}

i[data-selected="false"] {
    color: var(--starsGrey);
} 
/* --- */

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontRlw);
}

/*---------------------------- header----------------------------- */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto  auto;
    grid-template-areas: "img img nav link";
    max-width: 1500px;
    width: 96%;
    margin: auto;
}

.imgHeader {
    grid-area: img;
    padding: 0 0.5rem;
}

.navbarHeader {
    display: flex;
    align-items: center;
    grid-area: nav;
    justify-content: end;
    margin-right: 2.5em;
}

.navbarHeader a {
    padding: 1.5em 2.5em;
    border-top: 2px transparent solid;
    
}

.navbarHeader a:hover{
    transition: color 0.3s, border-color 0.3s;
    border-color: var(--darkBlue);
    color: var(--darkBlue)
}

a[data-active='true']{
    border-top: 2px solid var(--darkBlue);
    color: var(--darkBlue);

}

.register {
    color: var(--darkBlue);
    font-weight: bold;
}

.register:hover {
    transition: color .3s;
    color: #043681;

}

/*-------------------------main------------------------- */
main {
    max-width: 1500px;
    margin: auto;
    width: 96%;
}

/* section search */

.searchHeaderTitle {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5em 0;
}

.searchHeaderDescr {
    font-size: 1rem;
}

/* searchDivInput */
.searchDivInput {
    margin-top: 1.3rem;
}

.searchLabel {
    padding: 0.8rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--greyBackgd);
    text-align: center;
    border: 1px solid var(--greyBackgd);
}
.searchIcone{
   font-size: 1rem;
}

.searchInput {
    padding: 0.8rem 1rem;
    border-top: 1px solid var(--greyBackgd);
    border-left: 1px solid var(--greyBackgd);
    border-bottom: 1px solid var(--greyBackgd);
    font-weight: 700;
    border-right: none;
    border-left: none;
    border-color: var(--greyBackgd);
    font-family: var(--fontRlw);
    font-size: 1rem;  
}


.searchButton {
    padding: 0.8rem 1rem;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--darkBlue);
    color: #fff;
    font-weight: 700;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    margin-left: -5px;
}

.searchButton:hover{
    cursor: pointer;
    background-color: #043681;
    transition: background-color.3s;
}

.searchIconButton {
    display: none;
}
/* searchFilterDiv */

.searchFilterDiv {
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
}

.searchFilterP {
    font-size: 1.1rem;
    font-weight: 700;
}

.searchWrapperButton {
    margin-left: 1em;
}

.searchDivButton {
    border-radius: 2rem;
    padding: .8rem 1rem;
    background-color: transparent;
    position: relative;
    border: 2px solid var(--greyBackgd);
}

.searchDivButton:hover {
    cursor: pointer;
}

.searchBubble {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    height: 2.9rem;
    width: 2.9rem;
    background-color: var(--clearBlue);
    border-radius: 2rem;
    text-align: center;
    
}

.searchBubble:hover {
    background-color: #9ebbe6;
    transition: background-color .3s;
}


.searchP {
    display: inline;
    font-size: 1rem;
    padding: 0;
    font-weight: 700;
    margin-left: 2.6em;
    margin-right: auto;
    font-family: var(--fontRlw);
}

.filterIcone {
    color: var(--darkBlue);
    font-size: 1.2rem;
    margin-top: 13px;
}

/* searchAvailable */

.searchAvailable {
    margin-top: 1.3rem;
}

.searchAvailableP {
    display: inline-block;
}

.searchAvailableBubble{
    width: 20px;
    height: 20px;
    padding: 0.25em 0.5em;
    border: 1px solid var(--greyBackgd);
    border-radius: 50%;
    text-align: center;
}

.availableIcon {
    color: var(--darkBlue);
    font-size: 0.8em;
    padding: 0.2em;
}

.searchAvailableInfo {
    display: inline;
    font-size: 0.9rem;
    margin-left: 0.3em;
}

/* container of sections */

.hostingPopularAndActivityContainer {
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-areas: "hosting hosting popular"
                         "activity activity activity";
}

/* hostingSection */

.hostingSection {
    background-color: var(--greyBackgd);
    grid-area: hosting;
    border-radius: 15px;
    /* border: 1px solid green; */
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
 
}

.hostingTitle {
    padding: 2em .5em 1em 0.5em;
    font-size: 1.30rem;
    font-weight: 700;
    float: left;
}

.hostingCardContainer {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    column-gap: 1.8rem;
    row-gap: 1.8rem;
    /* border: 1px solid blue; */
}

.hostingCard {
    
    border: 6px solid #FFF;
    border-radius: 1rem;
    max-width: 31.5%;
    width: 30.5%;
    min-width: 30.5%;
    background-color: #FFF;
    z-index: 3; 
    box-shadow: 5px 5px 5px rgb(185, 183, 183); 
}

.hostingCard:hover {
      transform: scale(1.02);
      transition: transform .3s;
}

.hostingLinkCard {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.hostingImgContainer {
    border-radius: .7rem .7rem 0 0;
    min-width: 100%;
    height: 110px;
}

.hostingPicture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .7rem .7rem 0 0;
}

.hostingCardTitle {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.3em 0.3em;
}

.hostingCardNight {
    padding: 0.3em 0.3em;
}

.hostingStarDiv {
    padding: 0.2em 0.3em;
}

.hostingLinkDisplayMore {
    font-size: 1rem;
    font-weight: 500;
    margin: 3.5em 0 0 0;
    padding-bottom: 2rem;
}

.hostingLink {
    font-weight: bold;
    padding-left: 0.5em;
}

/* popularSection */

.popularSection {
    background-color: var(--greyBackgd);
    border-radius: 15px;
    /* border: 1px solid blue; */
    grid-area: popular;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 470px;
    margin-left: 20px;
}

.popularTitle {
    padding: 2em 0 1em 0.5em;
    font-size: 1.30rem;
    font-weight: 700;
    float: left;
}

.polularTitleDiv {
  width: 100%;
}

.popularContainIcon {
    padding: 2.5em 0 1em 0;
    float: right;
}

.popular-line-chart {
    font-size: 1em;
}

.popularContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1.8rem;
   /* border: 1px solid red; */
   min-width: 85%;
  
}

.popularCard {
    border-radius: 1rem;
    border: 6px solid #FFF;
    width: 100%;
    max-width: 100%;
    height: 135.5px ;
    min-width: 30%;
    background-color: #FFF;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);    
}

.popularCard:hover {
      transform: scale(1.02);
      transition: transform .3s;
}

.popularLinkImg {
    display: flex;
    width: 100%;
    height: 100%;
} 

.popularImgContainer {
    border-radius: .7rem 0 0 .7rem;
    min-width: 35%;
    max-width: 35%;
    height: 100%;
}

.popularImg {
    width: 100%;
    height: 100%;
    border-radius: .7rem 0 0 .7rem;
    object-fit: cover;
}

.popularCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popularCardTitle {
    padding: .3em .8em;
    font-size: 1rem;
    font-weight: 700;
}

.popularCardNight {
    padding: .3em .8em;
}

.popularStarDiv {
    padding: .3em .8em;

}

/* activitySection */

.activitySection {
    grid-area: activity;
    width: 100%;
    /* border: 1px solid yellow; */
    max-width: 1500px;
    margin:auto;
    margin-top: 50px;
}

.activityTitle {
    padding: 1em 0.5em;
    font-size: 1.30rem;
    font-weight: 700;
    font-family: var(--fontRlw);
}

.activityContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.8rem;
    justify-content: space-between;
    width: 100%;
    max-height: 500px;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 1;
    /* border: 1px solid olive; */   
}

.activityContainer article {
    
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgb(185, 183, 183);

}

.activityContainer article:hover {
      transform: scale(1.02);
      transition: transform .3s;
}

.activityLinkImg {
    width: 100%;
    height: 100%;
}

.activityImgContainer {
    width: 100%;
    height: 90%;
}

.activityImgContainer2 {
    width: 100%;
    height: 81%;
}

.activityImgContainer3 {
    width: 100%;
    height: 70%;
}

.activityCard_1 {
    max-width: 25%;
    width: 23.05%;
    /* min-width: 20%; */
    height: 450px;
    /* border: 3px solid rgba(52, 163, 207, 0.842); */
}

.activityImg_1 {
    width: 100%;
    height: 100%;
    border-radius: .7rem .7rem 0 0 ;
    object-fit: cover; 
}

.activityContainer-Img2-Img3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 25%; */
    width: 23.05%;
    height: 450px;    
}

.activityCard_2 {
    height: 55%;
}

.activityImg_2 {
    border-radius: .7rem .7rem 0 0 ; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityCard_3 {
    max-height: 35%;
}

.activityImg_3 {
    border-radius: .7rem .7rem 0 0 ; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityCard_4 {
    /* max-width: 25%; */
    width: 23.05%;
    height: 450px;
}

.activityImg_4 {
    border-radius: .7rem .7rem 0 0 ; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.activityContainer-Img5-Img6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 25%; */
    width: 23.05%;
    max-height: 450px;
}

.activityCard_5 {
    
    height: 35%;
}

.activityImg_5 {
    border-radius: .7rem .7rem 0 0 ; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityCard_6 {
    height: 55%;
    
}

.activityImg_6 {
    border-radius: .7rem .7rem 0 0 ; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityText {
    font-size: 1rem;
    font-weight: 700;
    margin: 1em 0 1em 0.5em; 
}

/* footer */

.footer {
    width: 100%;
    max-width: 2000px;
    margin:auto;
    background-color: var(--greyBackgd);
    margin-top: 30px;
    padding: 1rem;
    
}

.footerContainer {
    display: flex;
    margin: 1rem;
}

.footerBloc {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.footerTitle {
    font-weight: bold;
    padding: .5em;
}

.footerLink {
    padding-top: .5em;
    padding-left: .5em;
}

.footerLink:hover {
    text-decoration: underline;
    transition:  text-decoration .5s;
}

@media screen and (max-width: 1213px) {

    .header {
        width: 100%;

    }

    main {
        width: 100%;
    }

    /* popularSection */

    .popularSection {
         width: 100%;
         max-width: 100%;
         margin-left: 0;
    }
    
    .popularContainer {
         display: flex;
         flex-direction: row;
         align-items: center;
         column-gap: 1.8rem;
         min-width: 85%;
         margin-bottom: 3rem;
         
    }

    /* hostingSection */

    .hostingPopularAndActivityContainer {
        margin-top: 1.3rem;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        grid-template-areas: "popular popular popular"
                             "hosting hosting hosting"
                            "activity activity activity";
    }


   .hostingSection {
      margin-top: 30px;
   }

   .hostingCardContainer {
        justify-content: center;
        column-gap: 1.8rem;
        min-width: 85%;
   }

   .hostingCard {       
        
        min-width: 28%;
        max-width: 31.5%;
        flex-grow: 1;
        flex-shrink: 1;
        background-color: #FFF;
        z-index: 3; 
        box-shadow: 5px 5px 5px rgb(185, 183, 183); 
    }

    /* activitySection */

    .activityContainer {
        max-height: 1000px;
        width: 100%;
        justify-content: space-evenly;
        row-gap: 1.8rem;
        column-gap: 1.8rem;
        
    }

    .activityCard_1 {
        
        /* width: 50%; */
        min-width: 48.3%;
        height: 450px;
    }

    .activityContainer-Img2-Img3 {
       
        /* width: 50%; */
        min-width: 48.3%;
        height: 450px;
    }
    
    .activityCard_4 {
        order: 4;
        /* width: 50%; */
        min-width: 48.3%;
        height: 450px;
    }

    .activityContainer-Img5-Img6 {
        order: 3;
        /* width: 50%; */
        min-width: 48.3%;
        height: 450px;
    }
}



@media screen and (max-width: 980px) {
    

    /* popularSection */
    
    .popularSection {
        padding: 0 0.5rem 0 0.5rem;
    }

    /* hostingSection */

    .hostingSection {
      padding: 0 0.5rem 0 0.5rem;
    }

    /* activitySection */

    .activityCard_1 {        
        width: 47.75%;
        min-width: 47.75%;
    }

    .activityContainer-Img2-Img3 {
        width: 47.75%;       
        min-width: 47.75%;
    }
    
    .activityCard_4 {
        width: 47.75%;
        min-width: 47.75%;
    }

    .activityContainer-Img5-Img6 {
        width: 47.75%;
        min-width: 47.75%;
    }
}


@media screen and (max-width: 800px) {

    /* searchSection */

    .searchFilterDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .searchFilterP {
        padding-bottom: 0.5em ;
    }

    .searchWrapperButton {
        margin: 0;
    }

    /* popularSection */

    .popularSection {
        padding: 0 2em 0 2em;
    }

    .popularContainer {
        display: flex;
        flex-direction: column;
    }

    /* hostingSection */

    .hostingSection {
        padding: 0 2em 0 2em;
    }

    .hostingCardContainer {
        justify-content: center;
    }

    .hostingCard {
        width: 47.5%;
        min-width: 47.5%;
    }

    

   
}

@media screen and (max-width: 660px) {

    /* header */

    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img link"
                             "nav nav";
    }

    .navbarHeader {
        justify-self: center;
        margin: 0; 
    }

    .linkHeader:last-child {
        padding: 24px 65px 24px 65px;
    }

    .navbarHeader a {
        border-top: none;
        border-bottom: 2px transparent solid;
    }

    .navbarHeader a[data-active='true']{
        border-color:  var(--darkBlue);
        color: var(--darkBlue);
    }

    .navbarHeader a[data-active='false']{
        border-color: var(--starsGrey);;
    }

    .navbarHeader a:hover{
        transition: border-color .3s, color .3s;
        border-color: var(--darkBlue);
        color: var(--darkBlue);
    }

    .register {
        color: var(--darkBlue);
        font-weight: bold;
        justify-self: end; 
    }

    /* searchSection */

    .searchButton {
        border-radius: 1rem 1rem 1rem 1rem;
        padding: 14px;
        margin-left: -15px;
    }

    .searchButton span {
        display: none;
    }

    .searchIconButton {
        display: block;
    }

    /* hostingSection */

    .hostingSection {
        background-color: #FFF;
    }

    .hostingCard {
        width: 98%;
        min-width: 98%;
    }

    .hostingLinkDisplayMore{

        margin-top: 30px; 
    }

    /* activitySection */

    .activitySection{
        padding: 0 2em 0 2em;
        margin-top: 10px;
    }

    .activityContainer {
        max-height: none;
        width: 100%;
        justify-content: space-evenly;
        row-gap: 1.8rem;
        column-gap: 1.8rem;
        
    }

    .activityImgContainer,.activityImgContainer2,.activityImgContainer3 {
        width: 100%;
        height: 75%;
    }

    .activityText {
        padding: .2em 0 0 .3em;
    }

    

    .activityCard_1 {
        
        /* width: 50%; */
        min-width: 98%;
        height: 213px;
    }

    .activityCard_2 {
        height: 45%;
        min-height: 46.5%;
    }

    .activityCard_3 {
        height: 45%;
        min-height: 46.5%;
    }

    .activityContainer-Img2-Img3 {
       
        /* width: 50%; */
        min-width: 98%;
        height: 450px;
    }
    
    .activityCard_4 {
        order: 3;
        /* width: 50%; */
        min-width: 98%;
        height: 213px;
    }

    .activityCard_5 {   
        height: 45%;
        min-height: 46.5%;

    }

    .activityCard_6 {
        height: 45%;
        min-height: 46.5%;
    }

    .activityContainer-Img5-Img6 {
        order: 4;
        /* width: 50%; */
        min-width: 98%;
        height: 450px;
    }

    /* footer */
    .footerContainer {
        flex-direction: column;
    }

    .footerBloc {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}